h1
{
    color: yellow;
    font-size: 35px;
}

body
{
    background-image: url("menemen for background.bmp");
    background-size: 800px;
    width: 1500px;
    height: 696px;
    size: auto;
    color: yellow;
    font-size: 20px;
    font-family: Calibri;
    text-transform: capitalize;
}