
body {
    background-image: #59899f;
    color: black;
}



div.lagos_div {
    background-image: #59899f;
    clolor: blue;
    margin:opx;
}
h1 {
    color: red;
text-align: center;

div.content {img: float left}