body{
    margin:0px;
    /*background-color: #b8dee0;*/
    background-image:url('food.jfif') ;
}

div#header{
    text-align: center;
    background-color: #91b06d;
    padding-bottom: 8px;
    padding-top: 8px;
}

h3{
    padding-left: 30px;
}
div{
    background-color: #b8dee0;
}
div#rice{
    background-image: url('bg1.jfif');
    width:800px;
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enjoy{
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
    color:#0b8507;
}
